:root {
    --white : #fdfdfd;
    --primary : #0808a1;
    --secondary : #0505dd;
    --ternary : #0808ed;
    --greyishblue : #d6d6f7;
    --black : #000000;
    --deep-grey : #313131;
    --light-grey : #e7e7e7;
}